.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    height: auto;
}

.dialogsItem {
    padding: 10px;
}

.dialogsItem .active {
    background: darkgray;
    color: #ffffff;
}

.wrap {
    padding: 10px;
}

.dialog {
    padding: 10px 10px 10px 10px;
    border-radius: 3px;
}

.messages {
    padding: 10px;
    display: flex;
    height: 100%;
    flex-direction: column-reverse;
    justify-content: space-between;
    overflow-y: auto;

}

.messagePull {
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.messageArea {
    display: flex;
    flex-direction: column;
}

.messageBtn {
    padding: 8px 40px;
}

.messageWrapBtn {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.textarea {
    height: 50px;
    width: 800px;
    padding: 10px;
}

.message {
    margin: 20px 40px;
    border: 1px solid #efefef;
    border-radius: 12px;
    color: white;
    width: fit-content;
    padding: 20px;
    background: lightslategrey;
}

.dialog a {
    text-decoration: none;
    color: black;
}

.dialog .activeDialog {
    color: black;
    text-decoration: underline;
}