.App__container {
    display: grid;
    grid-template-areas: "nav main main";
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    width: 1200px;
    margin: 0 auto;
}

.App__container-main {
    grid-area: main;
    border: 1px solid #efefef;
    background: #fbfbfb;
    border-radius: 3px;
}


